services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pcb_defects
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d pcb_defects" ]
      interval: 10s
      timeout: 5s
      retries: 5

  broker:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: .
    command: uvicorn backend.app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app/backend
      - ./ml:/app/ml
      - ./uploads:/app/uploads
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/pcb_defects
      CELERY_BROKER_URL: amqp://guest:guest@broker:5672//
      CELERY_RESULT_BACKEND: db+postgresql://user:password@db:5432/pcb_defects
      MODEL_PATH: /app/ml/yolov8_model/best.pt
    depends_on:
      db:
        condition: service_healthy
      broker:
        condition: service_healthy

  worker:
    build: .
    command: celery -A backend.app.tasks worker --loglevel=info
    volumes:
      - ./backend:/app/backend
      - ./ml:/app/ml
      - ./uploads:/app/uploads
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/pcb_defects
      CELERY_BROKER_URL: amqp://guest:guest@broker:5672//
      CELERY_RESULT_BACKEND: db+postgresql://user:password@db:5432/pcb_defects
      MODEL_PATH: /app/ml/yolov8_model/best.pt
    depends_on:
      db:
        condition: service_healthy
      broker:
        condition: service_healthy

  frontend:
    build: .
    command: streamlit run frontend/app.py --server.port 8501 --server.address 0.0.0.0
    volumes:
      - ./frontend:/app/frontend
    ports:
      - "8501:8501"
    environment:
      API_URL: http://backend:8000
    depends_on:
      - backend

volumes:
  postgres_data:
